.App {
  text-align: center;
  width: 700px;
  margin: 30px auto;
 
}
h1 {
  position: relative;
  display: inline;
}
header {
  text-align: left;
}
header button{
  position: absolute;
  right: -80px;
  top: -4px;
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
}
header img {
  width: 100%;
}

.notelist {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.note {
  position: relative;
  margin-top: 10px;
  width: 150px;
  height: 100px;
  border: 1px solid rgba(80, 80, 109, 0.952);
}
form input {
  width: 200px;
  height: 100px;
}
form {
  position: relative;
  text-align: left;
  margin-top: 50px;
}
.note button {
  position: absolute;
  right: -20px;
  top: -16px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
}

form button {
  position: absolute;
  left: 166px;
  top: 65px;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  box-sizing: border-box;
  background-color: #fff;
}
form img{
  width: 100%;
}

